{% extends "shop/layout.html" %}

{% block content %}

{% block header %}
    <form action="" method="get">
        <label>
            <input type="text" name="query" value="{{ request.GET.query }}" placeholder="가게명을 입력해주세요.">
            <input type="submit" value="검색">
        </label>

    </form>
{% endblock %}

    <ul>
        {% for shop in shop_list %}
            <li>
                <a href="{% url "shop:shop_detail" shop.pk %}">
                    {{ shop.name }}
                </a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block footer %}

    <a href="{% url "shop:shop_new" %}" class="btn btn-primary">가게 등록</a>

{% endblock %}